/* DarkBlue - #2E5974

LightBlue - #037D88

Darkgray - #626166
lightgrays - #737477

bg-dark-gray - #706F74
bg-light-gray - #D9D9D9
bg-lightest-gray - #FBFBFB
gray-border - #D4D5D6

white - #FFFFFF

btn-border-color - #C0DFE0

header-text - #505050

para-text - #37383D

para-text-big - #5B5C60

vline - #D2D2D2 */


:root{
  --blue:#2E5974;
  --gray: rgb(56 56 56 / 60%)
}

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

h1 {
  color: #2e5974;
  font-size: 25px;
  line-height: 39px;
  font-weight: 600;
  margin-bottom: 10px;
}

h2 {
  color: #399da2;
  font-size: 34px;
  font-weight: bold;
  margin: 0;
}

h3{
    font-size: 22px;
    color: #2E5974;
    font-weight: 500;
    margin: 0;
}

/* Header CSS */

header {
  position: absolute;
  width: 100%;
  top: 30px;
  transition: top 0.3s;
  z-index: 9999;
}

nav{
  box-shadow: 0px 3px 14px -4px rgba(0, 0, 0, 0.12);
}

nav.navbar.navbar-expand-lg {
  padding: 0rem 0rem;
}

.dropdown-menu{
    border: none;
    box-shadow: -2px -1px 7px -3px rgb(168 168 168 / 24%);
    transition: 0.5s;
}

.dropdown-item{
  transition: 0.5s;
}

.dropdown-item{
  margin: 8px 0px;
}

.dropdown-menu .active{
  background-color: #399DA2;
    color: white;
}




.dropdown-item:focus, .dropdown-item:hover{
    background-color: #399DA2;
    color: white;
}

.sticky {
  position: fixed;
  top: 0;
}

nav {
  background-color: rgb(255 255 255 / 90%);
}


.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transform-origin: top;
  animation-fill-mode: forwards; 
  transform: scale(0.9, 0.7) translateY(-20px);
  transition: all 0.3s ease;
  display: block;
}

.dropdown-menu.show {
  transform: scale(1, 1) translateY(0);  
  opacity: 1;
  visibility: visible;
}

.nav-item:hover .dropdown-menu {
  transform: scale(1, 1) translateY(0);  
  opacity: 1;
  visibility: visible;
  background-color: #ffffff;
}


.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler {
  border: none;
}

.inquiry-link {
  text-decoration: none;
  background-color:rgb(255 255 255 / 90%);
  color: #505050;
  font-size: 12px;
  float: right;
  padding: 6px 18px;
  font-weight: 500;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  position: relative;
  box-shadow: -1px 5px 8px -4px rgb(0 0 0 / 30%);
}
/* 
.inquiry-link::before {
  content: "";
  position: absolute;
  top: 0px;
  height: 18px;
  left: -7px;
  width: 7px;
  border-top-right-radius: 25px;
  box-shadow: 0 -10px 0 0 rgb(233 237 234);
}

.inquiry-link::after {
  content: "";
  position: absolute;
  top: 0px;
  height: 18px;
  right: -7px;
  width: 7px;
  border-top-left-radius: 25px;
  box-shadow: 0 -10px 0 0 rgb(233 237 234);
} */

.rotate-up {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.navbar-collapse {
  justify-content: flex-end;
}

.vline {
  width: 0.8px;
  background-color: #d2d2d2;
  height: 10px;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bi-search {
  color: #000000;
}

.search-border {
  background-color: #000000;
  width: 1px;
  height: 18px;
}


/* Product List CSS */


.banner {
    position: relative;
  }
  
  .banner-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
  
  .pmenu {
    background: rgba(0, 0, 0, 65%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  #portfnav {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
  
  #portfnav > li {
    /* position: relative; */
    z-index: 5;
    /* max-width: 115px; */
    text-align: center;
    width: 10%;
    display: flex;
    align-items: center;
  }
  
  #portfnav > li > a {
    width: 100%;
    display: block;
    padding: 20px 10px;
    font-size: 11px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  #portfnav a {
    color: #fff;
  }
  
  .pfmicon {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 5px !important;
    padding: 0;
  }
  
  .pfmicon img {
    max-width: 35px;
    max-height: 35px;
  }
  
  .eye-icon {
    width: 25px;
  }
  
  .pverticalline {
    height: 30px;
    width: 0.4px;
    align-self: center;
    background-color: #d9d9d954;
  }
  
  #portfnav .active {
    background-color: rgba(57, 157, 162, 0.6);
  }
  
  #portfnav > li {
    transition: background-color 0.3s ease;
  }
  
  #portfnav > li:hover {
    background-color: rgba(57, 157, 162, 0.6); 
  }

  .menu-item a,
  .menu-item .pfmicon img {
    transition: transform 0.3s ease;
  }
  
  .menu-item:hover a {
    transform: scale(1.1);
  }
  
  .menu-item:hover .pfmicon img {
    transform: scale(1.1);
  }

  .pverticalline{
    transition: width 0.3s ease;
  }

  
  
  #portfnav > li:hover > .pverticalline {
    width: 0px;
  }
  
  #portfnav > li:hover + li > .pverticalline {
    width: 0px;
  }
  
  /* --------------consumption-form--------------- */
  
  .consumption-form h2 {
    font-size: 18px;
    color: #399da2;
    font-weight: 800;
    margin: 40px 0px 20px 0px;
  }
  
  .consumption-form-container {
    display: flex;
    gap: 23px;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .consumption-form-container a {
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: rgba(55, 56, 61, 0.8);
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    background-color: rgb(239 247 247);
    transition: 0.5s;
  }
  
  .consumption-form-container a:hover {
    background-color: #3a999d;
    color: #fff;
  }
  
  .icon-text-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  .i-white {
    display: none;
  }

  .i-gray , .i-white{
    transition: 0.5s;
  }
  
  .consumption-form-container a:hover .i-gray {
    display: none;
  }
  
  .consumption-form-container a:hover .i-white {
    display: block;
  }
  
  
  /* filter title */
  
  .product-title h2 {
    font-size: 34px;
    color: #399da2;
    font-weight: 500;
    margin: 0px 0px 5px 0px;
  }
  
  .product-result-set {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px 10px 0px;
  }
  
  .crum1 {
    color: #aeafaf;
    font-size: 12px;
  }
  
  .crum2 {
    color: #399da2;
    font-size: 12px;
    font-weight: 600;
  }

  .para-product-resut{
    display: flex;
    align-items: flex-end;
    gap: 7px;
    justify-content: flex-end;
  }
  
  .product-resut p {
    color: #399da2;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
  }
  
  .presult-count {
    color: #399da2;
    font-size: 31px;
    font-weight: 400;

  }

  .presult-text{
    width: 50%;
    line-height: 15px;
  }
  
  .consumption-form-mobile {
    display: none;
  }
  
  .consumption-form-web {
    display: block;
  }

/* ----------------Product List CSS------------ */


/* Product Banner Details CSS */

.product-details-banner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.navbar-nav li a {
  font-size: 12px;
  font-weight: 500;
  color: #505050;
}

.navbar-nav .nav-link.active {
  color: #399da2;
  font-size: 12px;
  font-weight: 600;
}

header .nav-link{
  transition: all .3s ease;
}

header .nav-link:hover{
 
    transform: scale(1.2);
  color: #399da2;
}

header .nav-item .rotate-icon {
  transition: transform 0.3s ease; 
}

header .nav-link.show .bi-chevron-down {
  transform: rotate(180deg);
}

.banner-text {
  display: none;
}



/* Product Ingredints section -1 */

.ingridents-list {
  background-color: #fbfbfb;
  border: 0.5px solid #d4d5d6;
  border-radius: 10px;
  padding: 15px 16px;
}

.product-img{
  width: 100%;
}

.ingridents-item {
  padding: 18px 20px 0px 18px;
}

.ingridents-items {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}
.ingridents-title {
  width: 135px;
}

.ingridents-desc {
  width: 160px;
}

.ingridents-title,
.ingridents-sperator {
  font-size: 14px;
  font-weight: 800;
  color: #2e5974;
}

.ingridents-desc {
  color: #5e5f63;
  font-size: 14px;
  font-weight: 400;
}

.pd-consumption-form{
    border-bottom: 1px solid #D9D9D9;
    justify-content: space-between;
    padding: 15px 25px 15px 0px;
    margin-bottom: 15px;
}


.consumptions-item p{
    color: #87888B;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    margin-top: 8px;
}

.consumptions-item-disabled{
  filter: opacity(0.6) grayscale(100%);
}

/* .cursor-disabled{
  cursor: not-allowed;
} */





.product-desc p{
    color: #5F6064;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 10px;
}

.product-category-btn{
 gap: 8px;
}

.product-category-btn button{
color: #4EA3A7;
padding: 4px 18px;
font-size: 13px;
font-weight: 600;
line-height: 30px;
border: 1px solid #C0DFE0;
border-radius: 4px;
background-color: #F1F8F8;
cursor: default;
}

.mobile-screen{
display: none;
}


/* section-2 css */

.product-functionality{
    background-color: #ECECEC;
}


.functional-list ul li::before {
    content: ""; 
     display: inline-block; 
      width: 14px;
         height: 14px; 
            background-image: url('images/product_details/Tick.png'); 
            background-repeat: no-repeat;
             background-size: contain; 
     margin-right: 8px; 

    }


    .functional-list ul li{
        color: #5B5C60;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        margin-bottom: 35px;
    }


    /* section-3 css */

    .product-intoduction{
        background-color: #399DA2;
    }

    .product-intro-content h4{
        color: #ffffff;
        font-size: 25px;
        font-weight: 600;
        line-height: 39px;
        margin-bottom: 20px;
    }

    .product-intro-content ul li{
        color: #ffffff;
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        list-style:disc;
        margin-bottom: 15px;
    }

    .intro-list{
        padding-left: 15px;
        width: 80%;
    }

    .product-intro-img img{
        width: 100%;
    }


    /* section-4 CSS */ 

    .product-features{
        background-color: #ffffff;
        padding: 60px 0px;
    }

    .product-features h1{
        margin-bottom: 30px;
    }

    .feature-item{
        position: relative;
    }

    .feature-item-img{
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .feature-item-text{
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        position: absolute;
        bottom: 10px;
        left: 20px;
    }


    .product-recipe{
        background-color: #F4F4F4;
        padding: 40px 0px;
    }

    .product-recipe h1{
        margin-bottom: 30px;
    }


    .recipe-item{
        gap: 20px;
        align-items: center;
        margin-bottom: 0;
    }

    .margin-btm{
        margin-bottom: 40px;
    }

    .recipe-item p{
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        width: 50%;
        color: #037D88;
        margin: 0;
    }


    /* Footer CSS */

    .inquiry-content h3{
      font-size: 25px;
      font-weight: 700;
      line-height: 23px;
      margin-bottom: 20px;
    }

    .inquiry-content p{
      color: rgb(56 56 56 / 80%);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
    padding: 0 21%;
    }

    .btn-subscription{
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 600;
        padding: 12px 33px;
        text-decoration: none;
    }

    .btn-enquiry{
        color: #3B9B9F;
       background-color: #ffffff;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 600;
        padding: 12px 33px;
        text-decoration: none;
    }

    .inquiry-content {
        text-align: center;
    }

    .inquiry-btns{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    gap: 10px;
    }

    


.inquiry-subcription{
    background-image: url(images/footer-inquiry-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: center;
}

.quick-links{
    padding: 70px 0px;
}

.quick-links img{
    margin-bottom: 10px;
}

.quick-links h4{
  color: #037D88;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
}

.quick-links li{
    font-size: 12px;
    color: rgb(55 56 61/70%);
    font-weight: 500;
    margin-bottom: 4px;
    width: 88%;
}


.address li{
    color: #626166;
    font-size: 13px;
    font-weight: 500;
}

.quick-links li span{
    color: #3B9B9F;
}

.footer-border{
  border-right: 1px solid #D9D9D9;
  margin-right: 30px;
}

.copy-right{
    background-color: #706F74;
    color: #ffffff;
    padding: 10px 0px;
}

.copy-right p{
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.copy-right a{
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}

.product-list-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 24px;
    margin-bottom: 50px;
}

.product-list-item{
    display: flex;
    gap: 20px;
    align-items: center;
}


.product-thumbnail-img img {
    border-radius: 5px;
    width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .product-content h4 {
    font-size: 15px;
    font-weight: 600;
    color: #2e5974;
    margin-bottom: 5px;
  }
  
  .product-tags {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .product-content p , .product-tag-item {
      font-size: 13px;
      font-weight: 600;
      color: #87888B;
      line-height: 20px;
      margin: 0;
  }
  
  .product-tag-item {
      font-size: 15px;
  }
  
  .p_v_line {
    background-color: #aaaaaa;
    height: 12px;
    width: 0.98px;
  }

  .product-details-card  .product-tag-item{
    line-height: 10px;
  }


  
/* -------------------------------- */



.product-card {
    border: 2px solid #399DA2;
    border-radius: 20px;
    padding: 80px 60px 40px 60px;
    margin-bottom: 50px;
    position: relative;
}


.product-content-hover {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-content-hover .product-tags {
    display: flex;
    gap: 15px;
    align-items: flex-end;
  }


  
  .product-content-hover .border-right {
    padding-right: 15px;
  }
  
  .product-content-hover-left h4 {
      font-size: 20px;
      margin-bottom: -5px;
      font-weight: 500;
      color: #2E5974;
  }
  
  .product-name-list {
    display: flex;
    gap: 40px;
    border-top: 1px solid lightgray;
    margin-top: 15px;
    padding-top: 15px;
  }
  
  .list-set {
      display: flex;
      gap: 20px;
  }
  
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .item h5 {
      padding-right: 15px;
      color: #2E5974;
      font-size: 14px;
      font-weight: 800;
      margin: 0;
      width: 170px;
  }
  
  .item p{
      color: #87888B;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
  }
  
  .product-content-hover-right img {
    border-radius: 5px;
  }
  
  .readmore-link {
    text-align: right;
  }
  
  .readmore-link a {
      text-decoration: none;
      font-size: 16px;
      font-weight: 800;
      color: #1B9AE5;
  }
  
  .product-img img {
    margin: 0 auto;
    display: block;
  }
  
  
  .product-grid-description{
      color: #37383D;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      padding: 15px 0px;
  }

  .more-products-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 50px 0px;
  }

  .more-products-btn a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    color: #1B9AE5;
  }

  img.product-close {
    position: absolute;
    right: 30px;
    top: 30px;
}

.active-indicator{
    width: 25px;
    height: 25px;
    border-top: 2px solid #399DA2;
    border-left: 2px solid #399DA2;
    border-top-left-radius: 6px;
    background-color: white;
    position: absolute;
    rotate: 45deg;
    top: -13.5px;
    left: 40%;
}

a.drink-icon {
  position: relative;
  width: 98px;
}

img.drink-img {
  position: absolute;
  top: 5px;
  left: 18px;
}

.product-details-banner {
  position: relative;
}

.banner-text {
  display: block;
  background-color: rgb(0 0 0 / 20%);
  position: absolute;
  bottom: 113px;
  width: 100%;
  padding: 15px 0px;
}

.banner-text h3 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 8px;
}

.banner-text p {
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
}

.banner-text a {
  text-decoration: none;
  font-size: 12px;
  transition: 0.5s;
  color: rgb(255 255 255 / 60%);
  margin: 0;
  font-weight: 500;
}

.banner-text span{
  color: #ffffff;
}

.banner-text a:hover {
  font-weight: 700;
}



.product-details-card {
  display: none;
}

.product-list-item:hover + .product-details-card , .product-list-item:focus + .product-details-card {
  display: block;
}
/* ----------------------------------- */
/* Recipe List page CSS */
/* ----------------------------------- */


.recipe-list-banner{
  background-color: rgb(176 176 176 / 30%);
}

.recipe-list-banner h3{
  color: #2E5974;
}

.recipe-list-banner span{
  color: #2E5974;
}

.recipe-list-banner a{
  color: #AEAFAF;
}


.recipe-list-items{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
  column-gap: 35px;
  row-gap: 50px;
  align-items: center;
}


.recipe-list-item .card-body h5{
  color: #2E5974;
  font-size: 13.9px;
  font-weight: bold;
 
}

.recipe-list-item .card-body p{
  color: rgb(55 56 61/60%);
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 5px;
  opacity: 0;
  transition: opactiy 0.5s ease;
}

.recipe-list-item .card-body a{
  text-decoration: none;
  color: #1B9AE5;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  gap: 7px;
  transition: opacity 0.5s ease;
}


.recipe-list-item .card {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 196px;
  overflow: hidden;
  border: 0.8px solid rgb(130 130 130 / 40%);
  outline: 2px solid #ffff;
  transition: 
  height 0.5s ease,  
  border-color 1s ease,
  transform 0.5s ease,
  outline-color 1s ease,
  padding 0.5s ease;
}

.recipe-list-item .card-body-wrapper {
  height: 100%;
  width: 100%;
  padding: 0;
  transition: 
    width 0.5s ease,
    height 0.5s ease;
}

.recipe-list-item .card-body{
  position: absolute;
  top: 130px;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 
    transform 0.5s ease, 
    width 0.5s ease, 
    left 0.5s ease;
    
}

.recipe-list-item .card img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.7s ease;
}

.recipe-list-item .card:hover {
  border-color: #fff;
  outline: 2px solid #399DA2;
  transform: scale(1.13);
}




.recipe-list-item .card:hover img{
  transform: scale(0.87, 0.81);
}



.recipe-list-item .card:hover .card-body {
  transform: translateY(-66px);
  width: 100%;
  left: 0;
}

.recipe-list-item .card:hover .card-body p {
  opacity: 1;
}







.recipe-details-title{
  font-size: 17px;
  font-weight: 800;
  line-height: 20px;
  color: #2E5974;
  text-align: left;
  margin: 20px 0px;
}

.recipe-items-title {
  width: 220px;
  font-size: 14px;
    font-weight: 800;
    color: #2e5974;
}

.recipe-desc h3{
font-size: 17px;
font-weight: 700;
line-height: 24px;
color:#5f6064;
margin-bottom: 16px;
}

.recipe-desc p{
  font-size: 13px;
  font-weight: 400;
  color: #5f6064;
  line-height: 24px;
}

.recipe-desc h4{
font-size: 18px;
font-weight: 600;
color: #2E5974;
margin-bottom: 1rem;
}


.recipe-desc ol li{
  color: #5f6064;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 12px;
}

.custom-list {
  counter-reset: new-counter;
  /* border-left: dashed #5DADB1; */
  padding-left: 21px;
  margin-left: 10px;
}

.custom-list li {
  position: relative;
}


.custom-list li:after {
  content: counter(new-counter, decimal);
  counter-increment: new-counter;
  position: absolute;
  color: #fff;
  top: 6px;
  left: -25px;
 
}



.custom-list.style2 li:after {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
}

.custom-list.style2 li:before {
  position: absolute;
  top: 2px;
  left: -32px;
  content: '';
  width: 20px;
  height: 20px;
  z-index: 0;
  border-radius: 50%;
  background: #5DADB1;
}

.recipe-details-heading{
  color:#5DADB1 ;
}



/* solution Page */

.solutions{
  margin: 35px 0px;
}


.solution-tab-content{
  margin: 80px 0px;
}

.solutions h3{
  color: #399DA2;
  font-size: 30px;
  font-weight: 500;
  line-height: 54px;
  padding: 0px 37px;
}

.solutions p{
  color: #383838;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  padding: 0px 37px;
}

.solutions .carousel-indicators {
  position: unset;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;
}

.solutions .carousel-indicators [data-bs-target] {
  box-sizing: content-box;
    flex: 0 1 auto;
    width: 20%;
    height: auto;
    padding: 10px 12px;
    margin-right: 0px;
    margin-left: 0px;
    text-indent: unset;
    cursor: pointer;
    background-color: #399DA2;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 6px;
    background-clip: border-box;
    border: 0;
    border-top: none;
    border-bottom: none;
    opacity: 1;
    transition: opacity .6s ease;
}



/* About Page CSS Company Profile */

.about-details-banner img {
  height: 436px;
}

.about-banner-text {
  bottom: 57px;
}

.company-info .vline{
height: 38px;
width: 0.5px;
background-color:rgb(46 89 116 / 20%);
}

.company-info  h4{
margin: 0;
color: var(--blue);
font-size: 20px;
font-weight: bold;
line-height: 30px;
}

.company-info p{
color: var(--gray);
font-size: 18px;
font-weight: 500;
margin: 0;
}

.info-items{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px;
}

.info-items img{
  width: 59px;
  height: 59px;
}

.info-item{
  display: flex;
    gap: 15px;
}

.company-department {
  background-color: var(--blue);
}

.company-department img{
  width: 38px;
  height: 38px;
}

.company-department h4{
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin: 24px 0px;
}

.company-department .info-items{
  gap: 50px;
}


.company-department p{
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

.company-item {
  text-align: center;
}

.groupCompanies{
  text-align: center;
  padding: 40px 0px;
}

.groupCompanies h1{
  font-size: 30px;
  font-weight: 500;line-height: 37px;
  color: var(--blue);
  margin-bottom: 32px;
}

.ceoMessage{
  background-color: #F3F3F3;
  padding: 121px 0px;
}

.ceo-profile{
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
  align-items: center;
}
.ceo-profile h1{
  color: var(--blue);
  font-size: 30px;
  font-weight: 100;
  line-height: 44px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.ceo-profile h4{
  color: var(--blue);
  font-weight: 600;
  font-size: 22px;
  margin: 0;
}

.ceoMessage-right{
  padding-left:65px;
}


.ceoMessage-left{
  padding-right:63px;
}


.ceoMessage h2{
color: #383838;
font-size: 20px;
font-weight: 500;
}

.ceoMessage h3{
  color:#383838;
  font-weight: 500;
  font-size: 18px;
  line-height: 44px;
}

.ceoMessage h5{
  font-size: 14px;
  color: #383838;
  line-height: 26px;
}

.bankingPartners img{
  filter: opacity(0.4) grayscale(100%);
  transition: all 0.5s;
}

.bankingPartners img:hover{
  filter: opacity(1) grayscale(0%);
}

.banking-border{
  border-top: 0.8px solid rgb(47 47 47 /30%);
  border-bottom: 0.8px solid rgb(47 47 47 /30%);
  padding:40px 0px ;
  margin: 80px 0px;
}

.map{
 position: relative;
}

.map-address-bg{
  /* position: absolute;
  width: 100%;
  top: 0px; */
  padding: 33px 0px;
  background-color: #F5F5F5;
  box-shadow: -5px 8px 9px -5px rgba(56 56 56 / 70%);
}

.map-address{
  display: flex;
  align-items: center;
 
}

.map-address p{
  color: rgb(55 56 61 / 70%);
font-size: 16px;
font-weight: 500;
padding-right: 5px;
margin: 0;

}
.map-address .heading{
color: #047F87;
font-size: 18px;
font-weight: 700;
}

.map-address span {
  color: var(--blue);
  
}

.map-address a{
  color: #707175;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.smalllinev
{
  height: 11px;
  width: 0.5px;
  background-color: #707070;
  display: inline-block;
  margin: 0px 12px;
}




















    






















@media Only screen and (max-width: 990px)
{

/* Product Listing css */


.web-title{
    display: none;
}


header nav.navbar.navbar-expand-lg {
  padding: 0px 0px;
}

header .nav-link:hover {
  transform: scale(1);
  color: #399da2;
}

.offcanvas-body{
  padding: 0;
}

header li.nav-item {
  padding-left: 25px;
}

.dropdown-menu{
  box-shadow: none;
}


.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transform-origin: top;
  animation-fill-mode: forwards; 
  transform: scale(0.9, 0.7) translateY(-20px);
  transition: all 0.3s ease;
  display: none;
}

.dropdown-menu.show {
  transform: scale(1, 1) translateY(0);  
  opacity: 1;
  visibility: visible;
  display: block;
}

.search-box{
  display: none;
}


  .pverticalline {
    display: none;
  }

  .banner-img {
    height: 62vh;
    object-fit: cover;
  }

  .pfmicon {
    height: auto;
  }

  .pfmicon img {
    max-width: 25px;
    max-height: 25px;
  }

  .eye-icon {
    width: 20px;
  }

  #portfnav {
    flex-wrap: wrap;
    gap: 12px;
    padding: 20px 0px;
  }

  #portfnav > li {
    width: auto;
    background-color: #ffffff1c;
    border-radius: 6px;
    border: 1.5px solid #ffffff40;
    width: 22.3%;
    height: 75px;
  }

  #portfnav > li > a {
    font-size: 8px;
    padding: 10px 5px;
  }

  
.product-list-items{
    margin-bottom: 20px;
}


.product-content-hover-right{
    display: none;
}

.product-name-list{
    flex-wrap: wrap;
}

.product-card{
    border-radius: 10px;
    padding: 50px 10px 18px 10px;
    margin-top: 10px;
}


.item {
  margin-bottom: 8px;
}

.product-grid-description {
  padding: 10px 0px 0px 0px;
  margin: 0;
}

.readmore-link a {
  font-size: 13px;
  font-weight: 500;
}

.more-products-btn a {
  font-size: 15px;
  font-weight: 500;
}




/* ---------------------------- */

  .vline,
  .inquiry-link {
    display: none;
  }

  .logo {
    width: 60%;
  }

  .mobile-header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-inquiry-link {
    font-size: 9px;
    width: 40%;
    text-align: center;
    font-weight: 500;
    color: #484848;
  }

  .navbar-toggler {
    padding: 0;
  }

  .navbar-toggler-icon {
    background-size: 80%;
  }

  .mob-search {
    padding: 10px;
  }

  .mob-search-border {
    background-color: #484848;
    width: 0.5px;
    height: 22px;
  }

  .product-details-banner img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    object-position: bottom center;
  }

  .product-details-banner {
    position: relative;
  }

  .banner-text {
    display: block;
    background-color: rgb(0 0 0 / 30%);
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 10px 20px;
  }

  .banner-text h3 {
    color: #ffffff;
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 8px;
  }

  .banner-text p {
    font-size: 11px;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
  }

  .banner-text a {
    font-size: 11px;
    font-weight: 500;
    color: rgb(255 255 255 / 60%);
    margin: 0;
  }

  .ingridents-title, .ingridents-sperator,.ingridents-desc{
    font-size: 13px;
  }

.ingridents-title{
  width: 135px;
}

.mobile-screen{
display: block;
}

.mobile-screen h1{
font-size: 23px;
line-height: 30px;
}

.Ukonmax{
    font-size: 14px;
    color: #2E5974;
    font-weight: 600;
    margin: 0;
}

.webscreen{
    display: none;
}

.product-desc p{
    padding: 10px 0px;
}


.product-category-btn{
    justify-content: space-around;
    margin: 20px 0px;
}

.product-category-btn button{
    font-size: 11px;
    padding: 2px 10px;
}

.pd-consumption-form{
    padding: 0 0 15px 0;
}

.consumptions-item{
    width: 20%;
}

.ingridents-item{
    padding: 0;
}

.functionality-bg{
    display: flex;
    align-items: center;
}

.functionality-right img{
   width: 100%;
}

.functionality-left{
    padding-left: 0px;
    margin-bottom: 30px;
}

.functionality-left h1{
    width: 100%;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
}

.functional-list ul li::before {
    width: 12px;
    height: 12px;
}

.functional-list ul li{
font-size: 14px;
margin-bottom: 4px;
}

.functionality-bg .row{
    flex-direction: column-reverse;
}


.product-intoduction{
    padding: 30px 0px;
}

.product-intro-content h4{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
}

.product-intro-content ul li{
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 15px;
}

.intro-list {
    width: 90%;
}

.product-intro-img img{
    border-radius: 6px;
}

.product-features{
    padding-top: 30px;
    padding-bottom: 10px;
}

.product-features h1{
    font-size: 24px;
    line-height: 18px;
}

.feature-item{
    margin-bottom: 20px;
}

.product-features h1 {
    margin-bottom: 20px;
}

.product-recipe{
    padding: 30px 0px 0px 0px;
}

.product-recipe h1{
    font-size: 24px;
    line-height: 36px;
}

.recipe-item p{
    font-size: 13px;
    font-weight: 900;
    width: 45%;
    margin: 0;
}

.recipe-item{
    gap: 10px;
}


.recipe-item{
    margin-bottom: 20px;
}

.inquiry-subcription img {
    height: 60vh;
    object-fit: cover;
    object-position: center center;
}

.inquiry-content h3{
    font-size: 22px;
}

.inquiry-content p{
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
    padding: 0px 0px;
}

.btn-subscription ,.btn-enquiry{
    font-size: 12px;
    width: 55%;
    padding: 10px 13px;
}

.inquiry-btns {
    justify-content: center;
    gap: 15px;
}


.inquiry-subcription{
    background-image: url(images/footer-mobile-bg.png);
}


.copy-right p , .copy-right a{
    font-size: 10px;
}

.more-products-btn {
    margin: 10px 10px 20px 10px;
}

.product-details-card .product-tags{
    display: none;
}

.product-name-list{
    gap: 0px;
}

.item h5{
    width: 150px;
}

.item p{
    width: 52%;
}

.item h5 , p{
    font-size: 13px;
}

.product-content-mob-right h4{
    font-size: 20px;
    margin: 5px 0px 10px 0px;
}

.product-content-mob-right p{
    font-size: 12px;
}

.product-tags-mob{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.product-mob-container{
    gap: 15px;
}

.product-img-mob-left img{
    border-radius: 6px;
    height: 100%;
}

.product-content-mob-right .product-card-icons img{
    margin-right: 5px;
}

.readmore-link{
    padding-right: 20px;
}

img.product-close {
    position: absolute;
    right: 20px;
    top: 20px;
}

.active-indicator{
    left: 8%;
}

.quick-links img{
  display: none;
}

.footer-contact-info {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.recipe-list-items{
  grid-template-columns: repeat(auto-fit, minmax(204px, 1fr));
}

.recipe-list-banner {
  background-color: rgb(176 176 176 / 30%);
}



}


@media Only screen and (min-width: 992px) 
{

  .navbar-nav {
    gap: 25px;
  }

  .functionality-bg{
    position: relative;
    height: 550px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.functionality-right img{
    width: 45%;
    position: absolute;
    top: -20px;
    right: 0;
    
}

.functionality-left{
    padding-left: 40px;
}

.functionality-left h1{
    width: 90%;
    margin-bottom: 40px;
}

}


@media only screen and (max-width: 650px)
{

  .nav-bar{
    padding: 5px 0px;
  }

  
  .banner-img {
    height: 393px;
    object-fit: cover;
  }

  a.navbar-brand {
    width: 50%;
}

.logo {
  width: 75%;
}

#portfnav > li > a{
  line-height: 12px;
}

.product-title p{
  margin: 0;
}

.product-resut p{
margin: 0;
}


.para-product-resut{
  display: flex;
  align-items: flex-end;
  gap: 7px;
  justify-content: flex-end;
}

.presult-text{
  width: 50%;
  font-size: 8px;
  line-height: 9px;
}


  /* --------------consumption-form-Mobile dropdown--------------- */

  .consumption-form-web {
    display: none;
  }

  .consumption-form-mobile {
    display: block;
    margin: 10px 0px;
  }

  
  .consumption-form-mobile .icon-text-container {
    display: flex;
    align-items: center;
    padding: 6px 10px;
}

  .consumption-form-mobile .consumption-form-container{
    padding: 10px;
    row-gap: 10px;
    column-gap: 15px;
  }

  .consumption-form-mobile .consumption-form-container .drink-icon {
    position: relative;
    width: 70px;
}

.consumption-form-mobile .consumption-form-container img.drink-img {
  position: absolute;
  top: 4px;
  left: 6px;
}

.consumption-form-mobile .consumption-form-container a{
  font-size: 12px;
}

.consumption-form-mobile .icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}


  .product-result-set {
    align-items: flex-end;
    flex-wrap: wrap;
    row-gap: 8px;
    margin: -10px 0px 25px 0px;
  }

  .product-title h2 {
    font-size: 22px;
  }

  .presult-count {
    font-size: 21px;
    line-height: 16px;
  }

  .product-resut{
    padding-bottom: 3px;
  }

  .recipe-list-items{
    grid-template-columns: repeat(2, minmax(150px, 1fr)); 
    row-gap: 30px;
    column-gap: 10px; 
}

.recipe-list-item .card-body h5 {
  color: #2E5974;
  font-size: 12px;
  font-weight: bold;
}

.recipe-list-item .card{
  position: relative;
  height: 170px;
  overflow: hidden;
  border: 0.8px solid 0.8px solid rgb(130 130 130/40%);
  transition: height 0.4s, border 0.4s, padding 0.s4, border-color 0.4s, border-width 0.4s, width 0.4s ease;
  transition: transform 0.4s;
}



.recipe-list-item .card:hover{
  transform: scaleY(1);
  /* padding: 7px; */
  height: 170px;
  /* border: 2px solid #4EA3A7; */
  width: 100%; /* Adjust the value as needed */
  margin-left: unset; /* Half of the added width */
  margin-right: unset; /* Half of the added width */
}

.recipe-list-item .card:hover img{
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;

}

.recipe-list-item .card:hover .card-body {
  transform: translateY(0);
}

.recipe-list-item .card-body p{
  display: none;
}


.recipe-list-item .card-body a{
  display: none;
}


.recipe-list-item .card .card-body{
  top: 105px;
  bottom: unset;
  left: unset;
  padding: 10px 10px 16px 10px;
  position: absolute;
height: 55px;
width: 100%;
overflow: hidden;
}

.recipe-list-item .card:hover .card-body , .recipe-list-item .card:focus .card-body{
  top: 105px;
  bottom: unset;
  left: unset;
  padding: 10px 15px 16px 0px;
  width: 100%;
height: 55px;
overflow: hidden;
}

.recipe-list .more-products-btn {
  margin: 20px 10px 20px 10px;
}

.recipe-details-title{
  font-size: 15px;
  font-weight: 800;
  line-height: 20px;
  color: #2E5974;
  text-align: left;
  margin-bottom: 20px;
}

.quick-links {
  padding: 25px 0px;
}

.footer-contact-info {
  display: flex;
  flex-wrap: wrap;
}

.quick-links ul{
  margin-bottom: 25px;
}

.quick-links li {
  width: auto;
}

.recipe-details-heading{
  font-size: 20px;
}

.recipe-desc h3 {
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  color: #5f6064;
  margin-bottom: 20px;
  margin-top: 20px;
}

.cf-mobile-title{
  margin-top: 25px;
    font-size: 14px;
    border: 2px solid #399da2;
    padding: 16px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.consumption-dropdown-container {
  padding: 6px;
  border-radius: 6px;
  margin-top: 10px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease , border-color 0.5s ease,margin-bottom 0.5s ease; /* Smooth transition for max-height */
  border: 2px solid transparent; /* Initial border style */
  
}

.consumption-dropdown-container.expanded {
  max-height: 500px; /* Set a sufficiently large max-height */
  border-color: #399da2;
  margin-bottom: 25px;
}

.consumption-form-container {
  visibility: hidden; /* Hide contents by default */
}

.consumption-dropdown-container.expanded .consumption-form-container {
  visibility: visible; /* Ensure contents are visible when expanded */
}

.cf-mobile-title svg {
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}

.cf-mobile-title svg.rotate {
  transform: rotate(180deg); /* Rotate the arrow 180 degrees */
}


/* solutions page  */


.solutions{
  margin: 25px 0px;
}

.solutions .nav-pills{
gap: 4px;
}

.solutions .nav-fill .nav-item, .nav-fill>.nav-link{
  width: 40%;
}

.solutions .nav-pills .nav-link{
  background-color: #399DA2;
  color: white;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid transparent;
  transition: all 0.5s;
  padding: 10px 5px;
}

.solutions .nav-pills .nav-link:hover{
  color: #399DA2;
  background-color: transparent;
  border-color: #399DA2;
}

/* .solutions .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: #399DA2;
  background-color: transparent;
  border-color: #399DA2;
} */

.solution-tab-content{
  margin: 30px 0px;
}

.solutions-content-row{
  gap: 19px;
}

.solutions h3{
  color: #399DA2;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding: 0px 0px;
}

.solutions p{
  color: #383838;
  font-size: 12px;
  font-weight: 300;
  line-height: 23px;
  padding: 0px 0px;
}


.solutions .carousel-indicators {
  position: unset;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;
  flex-wrap: wrap;
  row-gap: 4px;
}

.solutions .carousel-indicators [data-bs-target] {
  box-sizing: content-box;
    flex: 0 1 auto;
    width: 47%;
    height: auto;
    padding: 10px 4px;
    margin-right: 0px;
    margin-left: 0px;
    text-indent: unset;
    cursor: pointer;
    background-color: #399DA2;
    color: white;
    font-size: 12px;
  font-weight: 600;
    border-radius: 6px;
    background-clip: border-box;
    border: 0;
    border-top: none;
    border-bottom: none;
    opacity: 1;
    transition: opacity .6s ease;
}
















 
}


@media only screen and (max-width: 359px)
{

  .banner-img {
    height: 62vh;
    object-fit: cover;
}

  #portfnav > li {
    width: 22%;
    height: 70px;
}

.para-product-resut{
  gap: 3px;
}

.recipe-list-items{
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));  
}

.recipe-list-item .card-body h5 {
  color: #2E5974;
  font-size: 12px;
  font-weight: bold;
}

.solutions .nav-pills .nav-link{
  font-size: 10px;
}

}


@media Only screen and (min-width: 1500px) 
{
  .container {
    width: 1166px;
  }
}


